html, body {
    margin: 0;
    padding: 0;
    background-color: #17202a;
    color: #FBFCFC;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

*::selection {
    background-color: #85929e;
    color: #f0ca88;
}

::-webkit-scrollbar {
    background-color: #17202a;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #f0ca88;
    border-radius: 10px;
}


.container {
    max-width: 1200px;
    margin: auto;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: transparent;
    transition: 1s ease;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
    background-color: transparent;
    animation: fade-in 2s ease;
    transition: .7s ease;
    border-bottom: none;
}

.nav__logo {
    font-family: 'Meie Script', cursive;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.nav__logo a {
    text-decoration: none;
    color: #FBFCFC;
    transition: .5s ease;
}

.nav__logo:hover a{
    color: #F4C474;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 10px 20px 20px 20px;
}

nav ul li:hover a{
    color: #F4C474;
    border-bottom: 5px solid #F4C474;
}

nav ul li a {
    text-decoration: none;
    color: #FBFCFC;
    transition: .5s ease;
    font-size: 1.5rem;
    font-weight: 300;
}

.nav__menu--order {
    border: 2px solid #ecbf6f;
    padding: 5px 10px;
    border-radius: 10px;
}

.nav__menu--order:hover {
    border: 2px solid #ecbf6f;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ecbf6f;
}

.nav__menu--order:hover a {
   color: #17202a;
}

.nav__toggle {
    width:20px;
}

.nav__toggle i {
    font-size: 2.5rem;
    position: relative;
    top:8px;
    transition: 1s ease;
    cursor: pointer;
    font-weight: 300;
}

.nav__toggle:hover i{
    color: #F4C474;
    transform: rotate(360deg);
}

#toggle-sub-menu{
    display: none;
}

#toggle-sub-menu:checked ~ .sub-menu{
    width: 100vw;
    opacity: 1;
}

#toggle-sub-menu:checked ~ .sub-menu a{
    opacity: 1;
    transform: translate(0, 0);
}

.sub-menu a:nth-child(1), 
.sub-menu a:nth-child(2) {
    display: none;
}

.sub-menu a {
    opacity: 0;
    font-size: 2rem;
    color: #FBFCFC;
    text-decoration: none;
    transform: translate(0, 80px);
    transition: 1s ease 1s, 
                color .5s ease, 
                border-bottom .5s ease;
    text-align: center;
    font-weight: 300;
    border-bottom: 4px solid transparent;
    margin: 15px;

}

.sub-menu a:hover {
    color: #F4C474;
    border-bottom: 4px solid #F4C474;
    cursor: pointer;
}

.sub-menu {
    width: 0vw;
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    );
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    transition: 1s ease;
    z-index: 9;
    opacity: 0  ;
}

.header__box {
    padding: 20px 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 180px auto 60px;
    position: relative;
    text-align: center;
}

.header__box--text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__box--text h1{
    font-size: 80px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    opacity: 0;
    animation: fade-up 2s ease forwards;
}

.header__box--text p{
    font-size: 22px;
    font-weight: 300;
    opacity: 0;
    animation: fade-up 2s ease .5s forwards;
}

button:focus {
    outline: none;
}

button {
    outline: none;
}

.header__box--text button{
    font-size: 22px;
    font-weight: 300;
    margin: 40px ;
    padding: 17px;
    border-radius: 25px;
    background-color: #ecbf6f;
    border: 2px solid #F4C474;
    color: #273746;
    cursor: pointer;
    font-weight: 300;
    transition: .5s ease;
    opacity: 0;
    animation: fade-up 2s ease .5s forwards;
}

.header__box--text button:hover {
    background-color: transparent;
    color: #FBFCFC;
    cursor: pointer;
}  

.header__box--img {
    z-index: 0;
    opacity: 0;
    animation: fade-in-big 2s ease .5s forwards;
}

@keyframes fade-in-big {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#headerBoxImg {
    position: relative;
}

.header__box--sig {
    position: absolute;
    right: -50px;
    bottom: 0px;
    opacity: 0;
    animation: fade-in-big 2s ease .5s forwards;
    width: 50%;
    height: auto;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translate(0, 60px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.header__box--arrow i{
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 0;
    line-height: 1rem;
    animation: fade-up 1s ease forwards;
}

.header__box--arrow p{
    display: block;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    opacity: 0;
    animation: arrow-blink 1s ease forwards infinite;
}

.header__box--arrow {
    position: absolute;
    bottom: -50px;
}

.header__box--arrow .arrow1 i{
    opacity: 0;
    animation: arrow-blink 1s 1.8s ease forwards infinite;
}
.header__box--arrow .arrow2 i{
    opacity: 0;
    animation: arrow-blink 1s .9s ease forwards infinite;
}

@keyframes arrow-blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.about__head {
    opacity: 0;
    padding: 10px 20px;
}

.about__head h1 {
    text-align: right;
    font-size: 4rem;
    margin: 200px 0 0 0;
    opacity: 0;
    animation: fade-in 2s ease forwards;
}

.about__head p {
    text-align: right;
    font-size: 22px;
    margin: 0;
    opacity: 0;
    font-weight: 300;
    animation: fade-in 2s ease forwards;
}

.about__detail{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0;
    overflow: hidden;
}

.about__detail--box1 {
    width: 40%;
    opacity: 0;
}
.about__detail--box2 {
    width: 40%;
    opacity: 0;
}

.about__detail--box2 h2 {
 color: #F4C474;
}

.about__detail--box1 img {
    width: 100%;
    height: auto;
    margin: auto;
}

.about-con__text h2{
    color: #F4C474;
    text-align: center;
}

.about-con__img {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
}

.about-con__img--1 {
    width: 60%;
}

.about-con__img--2 {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.about-con__img--2 img {
    width: 92%;
    height: auto;
}

.product__head {
    padding: 0 40px;
}

.product__head h1 {
    font-size: 4rem;
    margin: 100px 0 0 0;
}

.product__head p {
    font-weight: 300;   
    font-size: 22px;
}

.product__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.product__list--menu {
    width: 30%;
    transition: .5s ease;
    border-radius: 25px;
    position: relative;
}

.product__list img {
    width: 80%;
    display: block;
    margin: auto;
}

.product__list h1 {
    text-align: center;
    padding: 20px;
    margin: 0;
    text-shadow: 5px 5px 20px #17202a;
    color: #ecbf6f;
}

.product__list p {
    font-size: 1.3rem;
    font-weight: 300;
    opacity: 0;
    transition: .5s ease;
    text-align: center;
    margin: 0 20px;
}

.product__list--menu:hover p {
  opacity: 1 ;
}

.product__list--menu button {
    opacity: 0;
    transform: translate(0, 100px);
    position: absolute;
    transition: .5s ease;
    padding: 15px;
    border-radius: 10px;
    border: none;
    left: 30%;
    bottom: 20%;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: transparent;
    color: #FBFCFC;
    border: 2px solid #FBFCFC;
}

.product__list--menu button:hover {
    background-color: #FBFCFC;
    color: #17202a;
    cursor: pointer;
}

.product__list--menu:hover {
    box-shadow: 0 0 30px #FBFCFC;
    transform: translate(0, -15px);
    cursor: pointer;
}

.product__list--menu:hover button{
    opacity: 1;
    transform: translate(0, 0);
}

.list1 {
    background-image: url('./img/clock1.png');
    height: 500px;
}
.list1:hover {
    background-image: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    ),
    url('./img/clock1.png');
    height: 500px;
}

.list2 {
    background-image: url('./img/clock2.png');
    height: 500px;
}
.list2:hover {
    background-image: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    ),
    url('./img/clock2.png');
    height: 500px;
}

.list3 {
    background-image: url('./img/clock3.png');
    height: 500px;
}
.list3:hover {
    background-image: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    ),
    url('./img/clock3.png');
    height: 500px;
}

footer {
    height: 250px;
    background: #273746;    
}

.footer {
    margin-top: 40px;
    height: 40px;
}

.footer__row1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.footer__row1--location {
    width: 25%;
    text-align: center;
    padding: 20px;
}

.footer__row1 p {
    font-weight: 300;
} 

.footer__row1 ul {
    padding: 20px 40px;
    font-weight: 300;
}  

.footer__row1 li:hover {
    color: #ecbf6f;
    cursor: pointer;
}  

.footer__row2 {
    border-top: 1px solid #85929e;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.footer__row2 p{
    font-weight: 300;
    font-size: 15px;
}

.footer__row2 i{
    padding: 0 10px;
    font-size: 15px;
}

.footer__row2 i:hover{
    color: #ecbf6f;
    cursor: pointer;
}

.back-to-top {
    border-radius: 50%;
    background-color: transparent;
    position: fixed;
    bottom: 10px;
    right: 30px;
    opacity: 0;
    padding: 10px;
    animation: fade-in 2s ease forwards;
}

.back-to-top i {
    color: #FBFCFC;
    display: block;
    margin: auto;
    font-size: 3rem;
    padding: 0;
    opacity: 0;
    animation: to-top-button 2s ease infinite;
    transition: .5s ease;
}

.back-to-top i:hover {
    color: #F4C474;
}

@keyframes to-top-button {
    0% {
        transform: translate(0, 0);
    }

    40%{
        transform: translate(0, 10px);
    }
        
    70%{
        transform: translate(0, 5px);
    }

    100%{
        transform: translate(0, 0);
    }
}

.back-to-top a {
text-decoration: none;
}

/*? Animation CSS */

.fade-from-left {
    opacity: 0;
    animation: fade-from-left 2s ease forwards;
}

.fade-from-right {
    opacity: 0;
    animation: fade-from-right 2s ease forwards;
}

.fadeOut-to-left {
    opacity: 0;
    animation: fadeOut-to-left 2s ease forwards;
}

.fadeOut-to-right {
    opacity: 0;
    animation: fadeOut-to-right 2s ease forwards;
}

.fade-in {
    opacity: 0;
    animation: fade-in 2s ease forwards;
}

.fade-out {
    animation: fade-out 2s ease forwards;
}

@keyframes fade-from-left {
    0% {
        opacity: 0;
        transform: translate(-150px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fade-from-right {
    0% {
        opacity: 0;
        transform: translate(150px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOut-to-left {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-150px, 0);
    }
}

@keyframes fadeOut-to-right {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(150px, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 1121px) {
    .nav {
        justify-content: space-between;
        padding: 20px;
    }
    
    nav ul li:nth-child(1) {
        display: none;
    }

    nav ul li:nth-child(2) {
        display: none;
    }

    .sub-menu a:nth-child(1), 
    .sub-menu a:nth-child(2) {
        display: block;
    }

    .header__box button, .header__box--arrow  {
        display: none ;
    }

    .header__box {
        margin: 100px auto 60px;
        
    }

    .header__box--text {
        z-index: 2;
        background: linear-gradient(
            rgba(23, 32, 42,0.5),
            rgba(23, 32, 42,0.5)
        );
    }

    .header__box--img {
    width: 80%;
    }

    .about__head {
        opacity: 0;
        padding: 10px 20px;
        width: 80%;
    }

    .about__detail--box1 {
        width: 80%;
    }
    .about__detail--box2 {
        width: 80%;
    }

    .about-con__img {
        width: 80%;
    }

    .product__head {
       width: 80%;
       padding: 20px;
       display: block;
       margin: auto;
    }
    
    .product__list {
        width: 80%;
        margin: auto;
    }

    .product__list p {
        font-size: 1.25rem;
        margin: 20px;
    }

    .product__list--menu button {
        left: 20%;
        bottom: 7%;
    }

    footer {
        height: 313px;
        background: #273746;    
    }

    .footer__row2 {
        flex-flow: column wrap;
        justify-content: center;
        padding: 20px;
        text-align: center;
    }
}


@media (max-width: 992px) {
    .header__box--text{
        width: 80%;
    }

    .product__head {
       width: 80%;
       padding: 20px;
       display: block;
       margin: 0 auto 60px auto;
    }
    
    .product__list p {
        font-size: 1rem;
        margin: 20px;
    }

    .product__list--menu button {
        padding: 10px;
        left: 25%;
        bottom: 10%;
        font-size: 1rem;
    }
    
    footer {
        height: 313px;
        background: #273746;    
    }

    .footer__row2 {
        flex-flow: column wrap;
        justify-content: center;
        padding: 20px;
    }

}   

@media (max-width: 768px) {
     .nav__logo {
        font-size: 2rem;
    }

    .header__box {
        padding: 0;
    }

    .header__box--text{
        width: 80%;
    }
    
    .header__box--text h1{
        font-size: 60px;
        font-weight: 500;
    }
    
    .header__box--text p{
        font-size: 20px;
    }

    .about-con__img--1 {
        width: 100%;
    }
    
    .about-con__img--2 {
        width: 100%;
    }
    
    .product__list--menu {
        width: 60%;
        margin: 40px auto;
    }

    .product__list--menu:first-child {
        width: 60%;
        margin-top: 0;
    }

    .product__list p {
        font-size: 1.3rem;
        margin: 0 20px;
    }

    .product__list--menu button {
        padding: 15px;
        left: 30%;
        bottom: 5%;
        font-size: 1.5rem
    }

    .footer__row1 ul {
        padding: 20px;
        font-weight: 300;
    }  
}  

@media (max-width: 576px) {
    .sub-menu a {
        font-size: 1.3rem;
    }

    .header__box--img {
        width: 50%;
        display: block;
        margin: auto;
    }

    .header__box--sig {
        width: 20%;
        display: none;
    }

    .nav__logo {
        font-size: 1.5rem;
    }

    .nav__menu--order a {
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 1rem;
    }

    .nav__toggle i {
        font-size: 1.5rem;
        top: 3px;
    }

    .nav__toggle {
      padding: 15px 5px 16px 5px;
    }

      .product__list--menu {
        width: 90%;
    }

    .product__list--menu:first-child {
        width: 90%;
    }

    footer {
        height: 120px;
        background: #273746;    
    }

    .footer__row1 {
        display: none;
    }
}  


@media (max-width: 450px) {
    .nav__logo {
        font-size: 1.5rem;
    }

    .nav__menu--order {
        display: none;
    }

    .nav__toggle i {
        font-size: 1.5rem;
        top: 3px;
    }

    .nav__toggle {
      padding: 15px 5px 16px 5px;
    }
    
    .header__box--text h1{
        font-size: 30px;
    }

    .header__box--text p{
        font-size: 20px;
    }

    .about__head h1 {
        font-size: 40px;
        margin: 20px 0 0 0;
    }

    .about__detail--box2 p:nth-child(2) {
        display: none;
    }

    .product__head h1 {
        font-size: 40px;
    }

    .product__list p {
        font-size: 1rem;
        margin: 0 20px;
    }

    .product__list--menu button {
        padding: 10px;
        left: 30%;
        bottom: 10%;
        font-size: 1rem;
    }
}  


@media (max-width: 300px) {
    .nav__logo {
        font-size: 1.25rem;
    }

    .nav__toggle i {
        font-size: 1.25rem;
        top: 0px;
    }
}